*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1170px;
    margin: auto;
    align-content: center;
}
.footer{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(01_tanahlot_bali-588479613df78c2ccdae581a.jpg);
    background-color: black;
    position: absolute;
    width: 1444px;
    height: 480px;
}

.footer-list li{
    list-style: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 33.3%;
    align-content: center;
    margin-bottom: 40px;
}

.footer-col h4{
    font-weight: 700;
    font-family:'Poppins';
    font-size: 20px;
    font-style: normal;
    line-height: 20px;
    color: #FFFFFF;
}

.footer-list{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.footer-list li a{
    text-decoration: none;
    color: rgba(185, 170, 170, 0.904);
    opacity: 0.7;
}

.footer-col h4{
    margin-bottom: 10px;
}

.footer-col p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: rgba(255, 255, 255, 0.5);
}

.container{
    margin: 50px 50px;
}

.social-links{
    display: flex;
}

.social-links ul{
    display: flex;
    list-style: none;
    margin: auto;
    text-align: center;
}

.social-items a{
    padding: 10px 20px;
    font-size: 35px;
    color: #FFFFFF;
    opacity: 0.7;
}

a:hover {
opacity: 1;
}

.footer-list li a:hover{
    opacity: 1;
}

.footer-bottom{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 90px;
    text-align: center;
}
